.topnav {
    overflow: hidden;
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: black;
    width: 100%;
    text-align: center;
    padding: 14px 14px 14px 0px;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    left:200px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(233, 233, 233);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(0, 68, 255);
  }
