<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
            .grid-container {
                display: inline-grid;
                grid-template-columns: 50% auto;
                background-color: rgb(68, 68, 68);
                padding: 10px;
              }
              
              .grid-item {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid rgba(0, 0, 0, 0.8);
                padding: 20px;
                font-size: 12px;
                text-align: left;
              }
    </style>
    <meta charset="UTF-8">
  
    <title>Code Sample</title>
</head>
<body>

    <div class="grid-container" style="margin-left: 200px; margin-top: 100px">
        <div class="grid-item">
                <form action="users/form"  method="POST">
                    <input type="text" placeholder="Name" name="name">
                    <input type="text" placeholder="Description" name="quote">
                    <button type="submit">Submit</button>
                </form>
        </div>
        <div class="grid-item">
                <ul class="quotes">
                    <% for(var i=0; i<quotes.length; i++) {%>
                        <li class="quote">
                        <span><%= quotes[i].name %></span>
                        <span><%= quotes[i].quote %></span>
                        </li>
                    <% } %>
                </ul>
        </div>
    </div>
</body>
</html>